parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Facades
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
